/**
*
* lliure WAP
*
* @Versão 5.0
* @Desenvolvedor Jeison Frasson <jomadee@lliure.com.br>
* @Entre em contato com o desenvolvedor <jomadee@lliure.com.br> http://www.lliure.com.br/
* @Licença http://opensource.org/licenses/gpl-license.php GNU Public License
*
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	text-decoration: none;
}


/************************/
/***    HTML5 display-role reset for older browsers  ***/
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

button::-moz-focus-inner {
    border:0 !important;
    padding:0 !important;
}

/************************/
/***    Base         ****/		
html, body {
	width:100%;
	height:100%;
	font-family: "DejaVu Sans", Verdana, Tahoma,  "Ubuntu","Ubuntu Beta","Bitstream Vera Sans";
	font-size: 10px;
} 
	
body{
	text-align:center;	
}

/**************************/
/***    Lista           ***/	
ol, ul {
	list-style: none;
}

/**************************/
/***    Links           ***/
a, a:visited{
	color: #555;
	outline: none;
}

a:hover {
	color:#878787;
}

/**************************/
/***    Titulos         ***/
h1, h2, h3, h4, h5, h6{
	color: #afafaf;
	font-weight: bold;
}

h1 {font-size: 2.5em;   margin-bottom: 0.7em;}
h2 {font-size: 2.25em;  margin-bottom: 0.6em;}
h3 {font-size: 2em;     margin-bottom: 0.5em;}
h4 {font-size: 1.75em;  margin-bottom: 0.4em;}
h5 {font-size: 1.5em;   margin-bottom: 0.3em;}
h6 {font-size: 1.25em;  margin-bottom: 0.2em;}
	
div.linhaFina{
    font-size: 1.1em;
    margin: -12px 0 16px;
}

/**************************/
/***    Formularios     ***/
fieldset{
	border: none;
	margin-bottom: 15px;
}

legend{
    font-size: 1.75em;
}

label {	
	display: block;
	margin-bottom: 5px;
	font-size: 1.4em;
    font-weight: bold;
}

input, textarea, select {
	color: #444;
	padding: 3px;
	outline: none;
	font-family: "DejaVu Sans", Verdana, Tahoma,  "Ubuntu","Ubuntu Beta","Bitstream Vera Sans";
	font-size: 1em;
	border: 1px solid #ccc;
	line-height: 1.5em;	
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
}

select {	
	width: auto;
}

textarea {	
	height: 100px;
	overflow: auto;
}

button {
	background: #999;
	color: #fff;
	cursor: pointer;
	border: none;
	font-size: 1.4em;
	margin: 0px;
	padding: 5px 14px;
	font-family: "DejaVu Sans", Verdana, Tahoma,  "Ubuntu","Ubuntu Beta","Bitstream Vera Sans";
}

/**************************/
/***    Edicao          ***/
p{	
    display: block;
    margin: 0 0 0.75em 0;
	text-align: left;
    line-height: 1.2em;
    font-size: 1.4em;
}

strong, b{
    font-weight: bold;
}
	
i, cite, em, var, address, dfn{
    font-style: italic;
}

tt, code, kbd, samp{
    font-family: monospace;
}

u, ins{
    text-decoration: underline;
}
	
.both{
    clear:both;
}

.border-box{	
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

small{
    font-size: smaller;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

sup {
    vertical-align: super;
    font-size: smaller;
}
    
/**************************/
/***    Tabelas         ***/
table{
	width: 100%;
    display: table;
	border-collapse: collapse;
	border-spacing: 0;
    border-color: #555;
    border-style: solid;
}

caption {
    display: table-caption;
    text-align: center;
}
    
tbody, thead, tfoot{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th, td{
    display: table-cell;
    vertical-align: inherit;
}

th{
    font-weight: bold;
}

/**********************************************		PRE-CLASSES		*/

/*
span.botao{
	float: left;
	height: 32px;
}	
	
	span.botao button,
	span.botao a{
		float: left;
		font-size: 0.916em;
		background-color: #4F4F4F;
		background-image: -moz-linear-gradient(center top , #4F4F4F, #404040);
		border: 1px solid #353535;
		color: #FFFFFF;
		text-shadow: 0 1px rgba(0, 0, 0, 0.1);
		border-radius: 3px;
		line-height: 1.2em;
		padding: 0.75em 1.2em;
		margin-right: 3px;
		
		}
		
		span.botao.out button,
		span.botao.out a{
			background-color: #9E9E9E;
			background-image: -moz-linear-gradient(center top , #bEbEbE, #b0b0b0);
			border-color: #bebebe;
			}
		
		span.botao.out button:hover,
		span.botao.out a:hover{
			background-color: #9E9E9E;
			background-image: -moz-linear-gradient(center top , #b5b5b5, #a0a0a0);
			border-color: #9e9e9e;
			}
		
	span.botao button:hover,
	span.botao a:hover{
		background-color: #454545;
		background-image: -moz-linear-gradient(center top , #454545, #303030);
		border: 1px solid #111;
		color: #FFFFFF;
		text-shadow: 0 1px rgba(0, 0, 0, 0.3);
		text-decoration: none;
		}
			
div.mensagem{
	margin: 0 -2px 5px -2px;
	padding: 8px;
	padding-bottom: 3px;
	display: block;
	clear: both;
	background: #FCFDDE;
	border: 1px solid #ddd;
	position: relative;
	font-size: 12px;
	color: #7D7D7D;
	}
			
	div.mensagem span{
		display: block;
		margin-bottom: 5px;
		}
		
	div.mensagem span.red{
		display: inline;
		color: #a00;
		font-weight: bold;
		}
		
	div.mensagem span.blue{
		color: #00a;
		}
		
	div.mensagem a{
		font-weight: bold;
		color: #3573A6;
		}
*/