/**
*
* lliure WAP
*
* @Versão 5.0
* @Desenvolvedor Jeison Frasson <jomadee@lliure.com.br>
* @Entre em contato com o desenvolvedor <jomadee@lliure.com.br> http://www.lliure.com.br/
* @Licença http://opensource.org/licenses/gpl-license.php GNU Public License
* 
*/
#instal{
	text-align: center;
	padding-top: 30px;
    padding-bottom: 20px;
}
	
#instal .logo{
    margin-bottom: 25px;
}
		
#instal span.mensagem{
    width: 370px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 11px;
    background: #FCFDDE;
    border: 1px solid #ddd;
    color: #7D7D7D;
    padding: 8px 0;
    display: block;
}

#instalBox{
	width: 500px;
	margin: 0 auto;
	background: #f1f1f1;
	text-align: left;
	position: relative;
	border: 1px solid #E5E5E5;
    padding: 30px;
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
	}

	#instal h1{
		font-size: 2.5em;
		margin: 0 0 20px 0;
        color: #0D6FD8;
		}
        
form.formX{
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    display: block;
    overflow: visible;
    font-size: 10px;
}

form.formX div.fx_margin_bottom{
    float: left;
    width: 100%;
    margin-bottom: -30px;
    position: relative;
}

form.formX fieldset{
    float: left;
    width: 100%;
    position: relative;
    clear: both;
    margin-bottom: 25px;
}

form.formX fieldset.fx_fieldset_lest{
    margin-bottom: 0px;
}

form.formX fieldset legend.fx_legend{
    float: left;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    font-size: 1.8em;
    margin: 0 0 25px;
}

form.formX fieldset div.fx_linha{
    float: left;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    margin: 0;
    margin-bottom: 22px;
}

form.formX fieldset div.fx_linha.fx_linha_lest{
    margin-bottom: 0px;
}

form.formX fieldset div.fx_linha div.fx_linha_right{
    float: right;
}

form.formX fieldset div.fx_linha div.fx_unidade{
    float: left;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    padding: 0 7px;
    z-index: 0;
}

form.formX fieldset div.fx_linha div.fx_unidade.fx_unidade_first{
    padding-left: 0;
}

form.formX fieldset div.fx_linha div.fx_unidade.fx_unidade_last{
    padding-right: 0;
}

form.formX fieldset div.fx_linha div.fx_unidade label.fx_label{
    float: left;
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 4px;
}

form.formX fieldset div.fx_linha div.fx_unidade span.fx_input,
form.formX fieldset div.fx_linha div.fx_unidade input.fx_input,
form.formX fieldset div.fx_linha div.fx_unidade select.fx_select,
form.formX fieldset div.fx_linha div.fx_unidade textarea.fx_textarea{
    float: left;
    width: 100%;
    -moz-box-sizing: border-box; /* Firefox */
    box-sizing:border-box;
    padding: 5px 6px;
    font-size: 1.4em;
    border-radius: 4px;
    margin: 0px;
    background-color: #fff;
    border: 1px solid #000;
    line-height: 1em;
}

form.formX fieldset div.fx_linha div.fx_unidade span.fx_input,
form.formX fieldset div.fx_linha div.fx_unidade input.fx_input,
form.formX fieldset div.fx_linha div.fx_unidade select.fx_select{
    height: 29px;
}

form.formX fieldset div.fx_linha div.fx_unidade select.fx_select{
    padding: 2px 2px;
}

form.formX fieldset div.fx_linha div.fx_unidade select.fx_select optgroup,
form.formX fieldset div.fx_linha div.fx_unidade select.fx_select option{
    padding: 1px 1px 0 0;
}

form.formX fieldset div.fx_linha div.fx_unidade span.fx_input{
    padding-top: 7px;
    padding-bottom: 6px;
    white-space: nowrap;
}

form.formX fieldset div.fx_linha div.fx_unidade span.fx_input[disabled="disabled"],
form.formX fieldset div.fx_linha div.fx_unidade input.fx_input:disabled,
form.formX fieldset div.fx_linha div.fx_unidade select.fx_select:disabled,
form.formX fieldset div.fx_linha div.fx_unidade textarea.fx_textarea:disabled{
    background-color: #ebebe4;
    border-color: #545454;
    
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

form.formX fieldset div.fx_linha div.fx_unidade span.fx_botao{
    float: left;
}

form.formX fieldset div.fx_linha div.fx_unidade span.fx_botao div,
form.formX fieldset div.fx_linha div.fx_unidade span.fx_botao button,
form.formX fieldset div.fx_linha div.fx_unidade span.fx_botao a{
    -moz-box-sizing: border-box; /* Firefox */
    box-sizing:border-box;
    float: left;
    
    height: 29px;
    line-height: 29px;
    
    border-radius: 4px;
    padding: 0 1.2em;
    margin: 0;
    
    font-size: 1.3em;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    color: #000;
    
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    
    cursor: pointer;
    
    background-color: #dbdbdb;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#dbdbdb),to(#cecece));
    background-image: -webkit-linear-gradient(top,#dbdbdb,#cecece);
    background-image: -moz-linear-gradient(top,#dbdbdb,#cecece);
    background-image: -ms-linear-gradient(top,#dbdbdb,#cecece);
    background-image: -o-linear-gradient(top,#dbdbdb,#cecece);
    background-image: linear-gradient(top,#dbdbdb,#cecece);
    border: 1px solid #bfbfbf;
}

form.formX fieldset div.fx_linha div.fx_unidade span.fx_botao div:hover,
form.formX fieldset div.fx_linha div.fx_unidade span.fx_botao button:hover,
form.formX fieldset div.fx_linha div.fx_unidade span.fx_botao a:hover{
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    
    background-color: #c1c1c1;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#dbdbdb),to(#c1c1c1));
    background-image: -webkit-linear-gradient(top,#dbdbdb,#c1c1c1);
    background-image: -moz-linear-gradient(top,#dbdbdb,#c1c1c1);
    background-image: -ms-linear-gradient(top,#dbdbdb,#c1c1c1);
    background-image: -o-linear-gradient(top,#dbdbdb,#c1c1c1);
    background-image: linear-gradient(top,#dbdbdb,#c1c1c1);
}

form.formX fieldset div.fx_linha div.fx_unidade span.fx_botao div:active,
form.formX fieldset div.fx_linha div.fx_unidade span.fx_botao button:active,
form.formX fieldset div.fx_linha div.fx_unidade span.fx_botao a:active{
    border-color: #727272;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    text-decoration: none;

    background-color: inherit;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

form.formX fieldset div.fx_linha div.fx_unidade span.fx_botao.fx_action div,
form.formX fieldset div.fx_linha div.fx_unidade span.fx_botao.fx_action button,
form.formX fieldset div.fx_linha div.fx_unidade span.fx_botao.fx_action a{
    color: #fff;

    background-color: #4d90fe;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
    border: 1px solid #3079ed;
}

form.formX fieldset div.fx_linha div.fx_unidade span.fx_botao.fx_action div:hover,
form.formX fieldset div.fx_linha div.fx_unidade span.fx_botao.fx_action button:hover,
form.formX fieldset div.fx_linha div.fx_unidade span.fx_botao.fx_action a:hover{
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    text-decoration: none;

    background-color: #357ae8;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
    background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
    background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
    background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
    background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
    background-image: linear-gradient(top,#4d90fe,#357ae8);
}

form.formX fieldset div.fx_linha div.fx_unidade span.fx_botao.fx_action div:active,
form.formX fieldset div.fx_linha div.fx_unidade span.fx_botao.fx_action button:active,
form.formX fieldset div.fx_linha div.fx_unidade span.fx_botao.fx_action a:active{
    border-color: #1951a0;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);

    background-color: inherit;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
        
 /*       
	#instal form {
		width: 100%;
		float: left;
		padding: 20px 0;
		}

	#instal form fieldset{
		margin: 0 20px;
		}
	
	#instal form div{
		clear: both;
		width: 100%;
		margin: 0 0 1.5em;
		float: left;
		}
	
	#instal form label{
		text-align: left;
		color: #555;	
		font-size: 1em;
		display: block;
		font-weight: bold;
		margin: 0 0 0.5em;
		}
	
	#instal form label.error{
        float: right;
        width: 100%;
        font-size: 0.8em;
		text-align: left;
		color: #0D6FD8;
		font-weight: bold;
		margin: 0.5em 0 0.5em;
		}
		
		#instal form input{
			float: right;
			width: 100%;
			background: none repeat scroll 0 0 #FFFFFF;
			border-color: #C0C0C0 #D9D9D9 #D9D9D9;
			border-radius: 1px 1px 1px 1px;
			border-right: 1px solid #D9D9D9;
			border-style: solid;
			border-width: 1px;
			display: inline-block;
			height: 32px;
			font-size: 1.2em;			
			margin: 0;
			padding: 0 8px;
			}

		#instal form input.error{
			border-color: #0D6FD8;
			}

		#instal form input:hover,
		#instal form input:focus{
			border-color: #A0A0A0 #B9B9B9 #B9B9B9;
			border-right: 1px solid #B9B9B9;
			border-style: solid;
			border-width: 1px;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
			}

		#instal form input:focus{
			border-color: #0B66C7;
			}
			
	#instal form .botao{
		clear: both;
		margin: 0px;
		float: right;
		}
		
		#instal form .botao button,
		#instal form .botao a{
            padding-top: 0px;
            padding-bottom: 0px;
			font-size: 13px;
			line-height: 32px;
			height: 32px;
            
            background-color: #0F77E6;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#0F77E6), to(#0D6BCF));
            background-image: -webkit-linear-gradient(center top,#0F77E6,#0D6BCF);
            background-image: -moz-linear-gradient(center top,#0F77E6,#0D6BCF);
            background-image: -ms-linear-gradient(center top,#0F77E6,#0D6BCF);
            background-image: -o-linear-gradient(center top,#0F77E6,#0D6BCF);
            background-image: linear-gradient(center top,#0F77E6,#0D6BCF);
            
			border: 1px solid #0D6BCF;
			color: #FFFFFF;
			text-shadow: 0 1px rgba(0, 0, 0, 0.1);
			font-weight: bold;
			}
		
		#instal form .botao button:hover,
		#instal form .botao a:hover{
			background-color: #0E72DE;
            
            background-image: -webkit-gradient(linear, left top, left bottom, from(#0E72DE), to(#0B66C7));
            background-image: -webkit-linear-gradient(center top,#0E72DE,#0B66C7);
            background-image: -moz-linear-gradient(center top,#0E72DE,#0B66C7);
            background-image: -ms-linear-gradient(center top,#0E72DE,#0B66C7);
            background-image: -o-linear-gradient(center top,#0E72DE,#0B66C7);
            background-image: linear-gradient(center top,#0E72DE,#0B66C7);
            
			border: 1px solid #0B66C7;
			color: #FFFFFF;
			text-shadow: 0 1px rgba(0, 0, 0, 0.3);
			}
*/